/* ----------------------------------------------------------------
	Dropcaps & Highlights
-----------------------------------------------------------------*/

.dropcap {
  float: left;
  font-size: 42px;
  line-height: 1;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

.highlight {
  padding: 2px 5px;
  background-color: #444;
  color: #fff;
  border-radius: 2px;
}
